# Google reCAPTCHA v2 Site Key
# Obtenha sua chave em: https://www.google.com/recaptcha/admin
# Selecione reCAPTCHA v2 - Caixa de seleção "Não sou um robô"
VUE_APP_RECAPTCHA_SITE_KEY=your_recaptcha_site_key_here
